autopep8==1.5.2
camelot-py==0.8.0
chardet==3.0.4
click==7.1.2
distro==1.5.0
et-xmlfile==1.0.1
flake8==3.8.2
jdcal==1.4.1
mccabe==0.6.1
numpy==1.18.4
opencv-python==4.2.0.34
openpyxl==3.0.3
pandas==1.0.3
pdfminer.six==20200104
pdfplumber==0.5.20
Pillow==8.1.1
pycodestyle==2.6.0
pycryptodome==3.9.7
pyflakes==2.2.0
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sortedcontainers==2.1.0
tabula-py==2.1.0
unicodecsv==0.14.1
Wand==0.6.1
